<h1><%= link_to "Edit Settings", edit_admin_settings_path %></h1>

<table border="1">
  <tr>
    <th>NPO Status</th>
    <th>Student Status</th>
    <th>Settings ID</th>
    <th>Current Semester ID</th>
  </tr>
  <tr>
    <td><%= @settings.npo_status %></td>
    <td><%= @settings.student_status %></td>
    <td><%= @settings.id %></td>
    <td><%= Semester.find(@settings.current_semester_id).season_with_year %></td>
  </tr>
</table>
