<div class=gray-bg>
  <div class="banner apply-students-banner">
    <div class="darken">
      <div class="spacer"></div>
      <div class="banner-text">
        <h1><%= current_user.organization_name %>,</h1>
        <p class="subtitle">
          We're looking forward to working with you.
        </p>
      </div>
    </div>
  </div>
  <div class="apply-info">
    <div class="row">
      <div class="apply-info-section">
        <div class="calendar-icon"></div>
        <p class="apply-info-section-text">
          Apps due: <br>
          September 4th, 2015, 11:59PM
        </p>
      </div>

      <div class="apply-info-section">
        <div class="problem-icon"></div>
        <p class="apply-info-section-text">
          <%= link_to "Contact us", new_contact_form_path %>  <br>
          if you have any questions.
        </p>
      </div>
    </div>
  </div>

  <%= render "form_errors", obj: @nonprofit_application %>
  <%= simple_form_for @nonprofit_application, url: nonprofit_applications_path do |f| %>
    <div class="row">
      <div class="spacer"></div>
      <div class="medium-6 medium-offset-3 columns centered">
        <%= f.input :purpose, label: "What is your organization’s mission statement?" %> 
        <%= f.input :history, label: "Give us a brief history of your organization. Tell us about some of your organization’s key accomplishments." %>
        <div class= "date-dropdown">
          <%= f.input :date_established, label: "When was your organization established?" %> 
        </div>
        <div class="small-spacer"></div>
        <div class="new-line"></div>
        <%= f.input :legal, label: "Is your organization a 501(c)3?" %> 
        <%= f.input :short_summary, label: "Give us a two sentence summary of your project." %> 
        <%= f.input :goals, label: "What are the goals of this project, and what problems does it address?" %> 
        <%= f.input :key_features, label: "What are some of the key features of this project, and how do they help achieve the goals you mentioned above?" %> 
        <%= f.input :devices, label: "On what devices do you expect it to work? Check all that apply. (mobile phones, tablets, desktop computers)" %>
        <%= f.input :target_audience, label: "What is the target audience for this project? How large would you estimate this audience to be?" %>
        <%= f.input :why, label: "Why is this project important to your organization?" %>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <%= f.button :submit, 'Submit' %>
      </div>
    </div>
  <% end %>
  <div class="spacer"></div>
</div>
