<div class="spacer-small"></div>
<div class="banner">
  <div class="banner-text">
    <h1>Forgot your Password?</h1>
    <p class="subtitle">
    We'll help you out!
    </p>
  </div>
</div>
<div class="spacer-small"></div>
<div class="row">
  <div class="medium-6 medium-centered columns center">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input_field :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Submit", class: "button full-width-button"%>
      </div>
    <% end %>
    <div class="spacer-small"></div>
    <%= link_to "Log in", new_session_path(resource_name) %> |
    <%= link_to "Create an account", new_registration_path(resource_name) %>
  </div>
</div>
<div class="spacer"></div>

