<div class="banner">
  <div class="banner-text">
    <h1 class="h0">Current Members</h1>
    <p class="subtitle">
      Bloopers
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <%= link_to "Add Member", new_admin_member_path, class: "button" %>
    <table class="tables">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.last_name %></td>
            <td><%= member.first_name %></td>
            <td><%= member.email %></td>
            <td><%= link_to "Edit", edit_admin_member_path(member), class: 'button' %></td>
            <td><%= link_to "Delete", admin_member_path(member), method: :delete, class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="spacer-small"></div>
  </div>
</div>
