<h1><%= link_to "New Member", "members/new", method: :get %></h1>

<table border="1">
  <% @members.each do |member| %>
    <tr>
      <td><%= member.last_name %></td>
      <td><%= member.first_name %></td>
      <td><%= member.email %></td>
      <td><%= button_to "View", "members/#{member.id}", method: :get %></td>
      <td><%= button_to "Edit", "members/#{member.id}/edit", method: :get %></td>
      <td><%= button_to "Delete", "members/#{member.id}", method: :delete %></td>
    </tr>
  <% end %>
</table>
