<div class="about-banner"></div>

<div class="spacer"></div>

<div class="about-mission-block">
  <div class="row">
    <div class="small-10 small-centered columns">
      <h1 class="about-title"><%= t ".headline" %></h1>
      <div class="spacer-small"></div>
      <p class="mission"><%= t ".mission" %></p>
    </div>
  </div>
</div>


<div class="about-detail-block">
  <div class="row">
    <div class="medium-4 columns">
      <div class="spacer"></div>
      <div class="about-value">
        <div class="icon-wrapper">
          <p>
            BANGIN<br>
            ICON<br>
            HERE
          </p>
        </div>
        <h2><%= t ".values.craft.title" %></h2>
        <div class="spacer-small"></div>
        <p><%= t ".values.craft.description" %></p>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="spacer"></div>
      <div class="about-value">
        <div class="icon-wrapper">
          <p>
            BANGIN<br>
            ICON<br>
            HERE
          </p>
        </div>
        <h2><%= t ".values.culture.title" %></h2>
        <div class="spacer-small"></div>
        <p><%= t ".values.culture.description" %></p>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="spacer"></div>
      <div class="about-value">
        <div class="icon-wrapper">
          <p>
            BANGIN<br>
            ICON<br>
            HERE
          </p>
        </div>
        <h2><%= t ".values.heart.title" %></h2>
        <div class="spacer-small"></div>
        <p><%= t ".values.heart.description" %></p>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="about-team-block">
  <div class="row">
    <div class="small-9 small-centered columns">
      <h2 class="team-title"><%= t ".team.title" %></h2>
      <div class="spacer-small"></div>
      <p><%= t ".team.description" %><p>
    </div>
  </div>
  <div class="spacer-small"></div>
  <div class="row">
    <div class="small-12 small-centered columns">
      <ul class="team-pictures medium-block-grid-6 small-block-grid-3">
        <% (1..30).each do |i| %>
          <li class="team-picture-item">
        <a href="#">
          <%= image_tag("about/wonjun.jpg") %>
          <div class="member-description">
            <div class="name">
              Wonjun Jeong
            </div>
            <div class="position">
              President
            </div>
          </div>
        </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="about-sponsor-block">
  <div class="row">
    <div class="small-12 small-centered columns">
      <h2 class="sponsor-title"><%= t ".sponsors.title" %></h2>
      <div class="spacer-small"></div>
      <ul class="sponsor-list large-block-grid-4 medium-block-grid-2 small-block-grid-1">
        <li class="sponsor-item ">
        <a href="#">
          <%= image_tag("about/logo-palantir.png") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-github.png") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-atlassian.png") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-heroku.jpg") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-intel.png") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-microsoft.png") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-salesforce.jpg") %>
        </a>
        </li>
        <li class="sponsor-item">
        <a href="#">
          <%= image_tag("about/logo-indiegogo.png") %>
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="spacer"></div>

