<div class="banner" id="home-banner">
  <div class="darken">
    <h1 class="white" id="home-title"> <%= t ".headline" %> </h1>
    <p class="white" id="home-subtitle">We are UC Berkeley students who want to use technology to improve our community.</p>
    <div id="laptop">
      <div id="laptop-content-container">
        <%= image_tag("home/laptop-content.png", id:"laptop-content") %>
      </div>
      <div id="laptop-bg-container">
        <%= image_tag("home/macbook-bg.png", id:"laptop-bg") %>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="row">
  <div class="large-7 large-centered columns center">
    <h1>What We Do</h1>
    <div class="spacer-small"></div>
    <p> Blueprint is a non-profit organization aimed at bringing technologies to local nonprofit organizations that are making social change. Each year, teams of five students work with non-profit organization to implement technologies like some of these application below: </p>
  </div>
</div>
<div class="spacer"></div>
<div class="row">
  <div class="large-12 large-centered columns center">
    <ul class="small-block-grid-3">
      <li><img src="http://goo.gl/EXVuUJ"></li>
      <li><img src="http://goo.gl/lrqEJC"></li>
      <li><img src="http://goo.gl/5sNrte"></li>
    </ul>
    <div class="spacer-small"></div>
    <%= link_to "See More Work", projects_path, class:"button" %>
  </div>
</div>
<div class="spacer-large"></div>
<div class="row">
  <div class="medium-6 small-12 columns center">
    <h1>Nonprofits</h1>
    <p>Find out more about working with Blueprint.</p>
    <%= link_to "Learn More", nonprofits_apply_path, class: "button" %>
  </div>
  <div class="medium-5 small-12 columns center">
    <h1>Students</h1>
    <p>Learn about the club and how to join.</p>
    <%= link_to "Learn More", students_apply_path, class: "button" %>
  </div>
</div>
<div class="spacer-large"></div>
