<div class="row">
  <div class="small-12 small-centered columns">
    <%= form_tag import_admin_student_applications_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
    <%= link_to 'Download CSV list', admin_student_applications_path(format: :csv), class: "download-csv" %>
    <table class="tables">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Semester</th>
          <th>Year</th>
          <th>Actions</th>
          <th>Decision</th>
        </tr>
      </thead>
      <tbody>
        <% @student_applications.each do |app| %>
          <tr>
            <td><%= app.applicant.name %></td>
            <td><%= app.applicant.email %></td>
            <td><%= app.semester.season %></td>
            <td><%= app.semester.year %></td>
            <td><%= link_to "Details", "URL TO DETAILS", class: "button" %></td>
            <td>
              <%= link_to "Accept", approve_admin_final_decision_path(app.final_decision), method: :post, class: ["decision-button", selected_if?(app.final_decision.admitted)] %>
              <div class="spacer-small"></div>
              <%= link_to "Reject", reject_admin_final_decision_path(app.final_decision), method: :post, class: ["decision-button", selected_if?(app.final_decision.admitted == false)] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 
</div>
  
