<table border="1">
  <% @student_applications.each do |app| %>
    <tr>
      <td><%= app.applicant.name %></td>
      <td><%= app.applicant.email %></td>
      <td><%= app.semester.season %></td>
      <td><%= app.semester.year %></td>
      <td><%= link_to "Details", "URL TO DETAILS", class: "button" %></td>
    </tr>
  <% end %>
</table>
