<div class="spacer-small"></div>
<div class="banner">
  <div class="banner-text">
    <h1 class="h2"><%= t '.banner' %></h1>
    <p class="subtitle">
      <%= t '.subtitle' %>
    </p>
  </div>
</div>

<%= render "form_errors", obj: @contact_form %>
<%= simple_form_for @contact_form do |f| %>
  <div class="row">
    <div class="medium-4 medium-offset-1 columns">
      <%= f.input :name, wrapper_html: { class: "field-wrapper" } %>
      <%= f.input :email, wrapper_html: { class: "field-wrapper" } %>
      <div class="spacer-small"></div>
    </div>
    <div class="medium-5 end columns">
      <%= f.input :subject, wrapper_html: { class: "field-wrapper" } %>
      <%= f.input :message, wrapper_html: { class: "field-wrapper" } %>
      <div class="spacer-small"></div>
      <div class="gear-img-small"></div>
    </div>
  </div>
  <div class="row">
    <div class="contact_form_submit">
      <%= f.button :submit, 'Submit!' %>
    </div>
  </div>
<% end %>
<div class="spacer"></div>
