<div class="footer">
  <div class="row">
    <div class="large-2 medium-3 small-6 columns">
      <div>
        <h5>Students</h5>
        <ul>
          <li><%= link_to "Apply", apply_path %></li>
          <li><%= link_to "FAQ", students_apply_path(anchor: "faq") %></li>
        </ul>
      </div>
    </div>
    <div class="large-2 medium-3 small-6 columns">
      <div>
        <h5>Nonprofits</h5>
        <ul>
          <li><%= link_to "Apply", apply_path %></li>
          <li><%= link_to "Process", nonprofits_apply_path %></li>
          <li><%= link_to "FAQ", nonprofits_apply_path(anchor: "faq") %></li>
        </ul>
      </div>
    </div>
    <div class="large-2 medium-3 small-6 columns">
      <div>
        <h5>Sponsors</h5>
        <ul>
          <li class="tooltip-item greyed-out">Contribute
            <div class="tooltip"><p>Pardon our dust, this is still under construction.</p></div>
          </li>
          <li><%= link_to "Team", about_path(anchor: "team") %></li>
        </ul>
      </div>
    </div>
    <div class="large-2 medium-3 small-6 columns">
      <div>
        <h5>General</h5>
        <ul>
          <li><%= link_to "Contact", new_contact_form_path %></li>
          <li><%= link_to "Blog", SocialMediaUrls::MEDIUM, target: "_blank" %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div>
    </div>
    <div class="large-4 medium-6 end small-12 columns" style="text-align:right;">
      <form>
        <div class="newsletter-form tooltip-item">
          <input type="text" placeholder="Email Address" disabled></input>
          <button type="submit" disabled>Go</button>
          <div id="newsletter-tooltip" class="tooltip"><p>Pardon our dust, this is still under construction.</p></div>
        </div>
      </form>
      <p class="greyed-out">
        Sign up for our newsletter to get updates about events, our work and applications!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="icons small-12 medium-9 medium-push-3 columns">
      <%= link_to SocialMediaUrls::FACEBOOK, target: "_blank" do %>
        <i class="fa fa-facebook-f"></i>
      <% end %>
      <%= link_to SocialMediaUrls::TWITTER, target: "_blank" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <%= link_to SocialMediaUrls::GITHUB, target: "_blank" do %>
        <i class="fa fa-github-alt"></i>
      <% end %>
      <%= link_to SocialMediaUrls::MEDIUM, target: "_blank" do %>
        <i class="fa fa-medium"></i>
      <% end %>
    </div>
    <small class="copyright small-12 medium-3 medium-pull-9 columns">&copy; Blueprint 2015</small>
  </div>
</div>
