<div class="header">
  <%= link_to "Apply", apply_path, class: "header-tab header-button" %>
  <%= link_to "Contact", new_contact_form_path, class: "header-tab" %>
  <%= link_to "Blog", '#', class: "header-tab" %>
  <%= link_to "Projects", projects_path, class: "header-tab" %>
  <%= link_to "About", about_path, class: "header-tab" %>

  <% if current_user %>
    <%= link_to "Log out", destroy_user_session_path, class: "header-tab", method: :delete %>
  <% end %>

  <% if current_admin %>
    <div class="header-tab header-admin">
      <ul>
        <li><a href="#">Admin</a>
          <ul>
            <%= link_to "Applications", admin_student_applications_path, class: "header-tab" %>
            <%= link_to "Members", admin_members_path, class: "header-tab" %>
            <%= link_to "Semesters", admin_semesters_path, class: "header-tab" %>
            <%= link_to "Settings", admin_settings_path, class: "header-tab" %>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= link_to "", root_path, class: "header-logo" %>
</div>
