<div class="header">
  <%= link_to "Apply", apply_index_path, class: "header-tab header-button" %>

  <% if !current_user %>
    <%= link_to "Log in", new_user_session_path, class: "header-tab" %>
  <% else %>
    <%= link_to "Log out", destroy_user_session_path, class: "header-tab", method: :delete %>
  <% end %>
  <%= link_to "Contact", new_contact_form_path, class: "header-tab" %>
  <%= link_to "Blog", '#', class: "header-tab" %>
  <%= link_to "Projects", '#', class: "header-tab" %>
  <%= link_to "About", about_path, class: "header-tab" %>
  <%= link_to "", root_path, class: "header-logo" %>
</div>
