<div class="gray-bg">
  <div class="spacer"></div>
  <div class="banner">
    <div class="banner-text">
      <h1 class="h0">Sign Up</h1>
      <p class="subtitle">
        Let's get started.
    </div>
  </div>
  <div class="spacer-small"></div>
  <div class="row">
    <div class="medium-6 medium-centered columns center">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-inputs">
        <%= f.input_field :organization_name, placeholder: "Organization Name" %>
        <%= f.input_field :email, autofocus: true %>
        <%= f.input_field :password, placeholder: "Password" %>
        <%= f.input_field :password_confirmation, placeholder: "Confirm Password" %>
      </div>
      <div class="spacer-small"></div>
      <div class="form-actions">
        <%= f.button :submit, "Sign Up", class: "login-button" %>
      </div>
    <% end %>
      <div class="gear-img"></div>

    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
